{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Transform": "AWS::Serverless-2016-10-31",
  "Description": "An AWS Serverless Application.",
  "Resources": {
    "KeyGen": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Architectures": [
          "x86_64"
        ],
        "Handler": "AWS-Technologai::Technologai.Auth::KeyGen",
        "Runtime": "dotnet6",
        "CodeUri": "",
        "MemorySize": 256,
        "Timeout": 30,
        "Role": "TechnologaiDev-Lambda",
        "Policies": ["AWSLambda_FullAccess"],
        "Events": {
          "RootGet": {
            "Type": "Api",
            "Properties": {
              "Path": "/auth/keygen",
              "Method": "POST"
            }
          }
        }
      }
    },
    "Token": {
      "Type": "AWS::Serverless::Function",
      "Properties": {
        "Architectures": [
          "x86_64"
        ],
        "Handler": "AWS-Technologai::Technologai.Auth::Token",
        "Runtime": "dotnet6",
        "CodeUri": "",
        "MemorySize": 256,
        "Timeout": 30,
        "Role": "TechnologaiDev-Lambda",
        "Policies": ["AWSLambda_FullAccess"],
        "Events": {
          "RootGet": {
            "Type": "Api",
            "Properties": {
              "Path": "/auth/token",
              "Method": "POST"
            }
          }
        }
      }
    }
  },
  "Outputs": {
    "ApiURL": {
      "Description": "API endpoint URL for Prod environment",
      "Value": {
        "Fn::Sub": "https://${ServerlessRestApi}.execute-api.${AWS::Region}.amazonaws.com/Prod/"
      }
    }
  }
}